<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD.Properties.Settings.pmatuszakConnectionString"
            connectionString="Data Source=eos.inf.ug.edu.pl;Initial Catalog=pmatuszak;User ID=pmatuszak;Password=238196"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>